/* body */

body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

/* header */

#body-header {
    height: 65vh;
    background-image: url(resumeImage.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/* Horizontal List */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin-right: 8px;
    font-size: 2rem;
}

.horizontal-list li a {
    text-decoration: none;
    color: white;
}



.nav-menu li a{
    transition: color 0.5s;    
}

.nav-menu li a:hover{
    color: burlywood;
    text-decoration: underline;    
}

.text-center {
    text-align: center;
}

/* Name & Social Icons*/

#name-social-container {
    margin-top: 20vh;
}

#name {
    color: white;
    letter-spacing: 0.1rem;
    font-size: 4rem;
    margin-bottom: 0.4rem;
}

.social-icons li a i{
    padding: 15px;
    font-size: 1 rem;
    border-radius: 50%;
}


.social-icons li a i:hover{

    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/* About */

#about {
    height: auto;
    width: 100%;
    position: relative;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}

#my-para {
    padding: 10px;
    height: 100%;
    width: 70%;
    margin: auto;
	font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
    font-size: 20px;
}

/* Sections */

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-heading {
    width: auto;
    margin: 10px auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}


/* Skills */

.skills-display {
    width: 70%;
    display: flex;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 70px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    /* margin-top: 20px; */
    overflow: hidden;   
}

.cpp {
    width: 70%;
    height: inherit;
    background-color: #2857a4;
    border-radius: 20px 0px 0px 20px;
}

.html {
    width: 50%;
    height: inherit;
    background-color: red;
    border-radius: 20px 0px 0px 20px;
}

.java {
    width: 80%;
    height: inherit;
    background-color: green;
    border-radius: 20px 0px 0px 20px;
}

.css {
    width: 60%;
    height: inherit;
    background-color: orange;
    border-radius: 20px 0px 0px 20px;
}

.python {
    width: 40%;
    height: inherit;
    background-color: palevioletred;
    border-radius: 20px 0px 0px 20px;
}

.skill-name span {
    font-size: 1.5rem;
    color: black;
    padding: 10px;
}

/* Experience */

.timeline {
    width: 75%;
    position: relative;
}

 .timeline-box {
    position: relative;
    width: 40%;
    padding: 5px;
    min-height: 150px;
    border: 2px solid black;
    left: 5%;
    text-align: right;
}

.timeline-container {
    padding: 8px;
}

.timeline-box:nth-child(2n) {
    left: 55%;
}

.timeline-box::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}

.timeline-box:nth-child(2n+1)::after {
    right: -12%;
}

.timeline-box:nth-child(2n)::after {
    left: -13.5%;
}

.timeline-divider {
    height: 75%;
    width: 0;
    border: 3px dashed #0096fa6b;
    position: absolute;
    left: 50%;
    top: 10%;
}

.traveller {
    position: sticky;
    top: 1%;
    rotate: 90deg;
    z-index: 2;
} 

.experience-designation {
    font-size: 1.4rem;
}


.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}

.timeline-logo {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.timeline-logo > img {
    width: 100%;
    height: 100%;
}

.m0 {
    margin: 0;
}

.m-blue {
    color: #2857a4;
}

.text-align-justify {
    text-align: justify;
}

/* Portfolio */


#portfolio-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
} 

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}

/* Contact */

#contact {
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}


#contact-form input,textarea {
    
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
